body {
    margin: 0;
    background: skyblue;
    overflow: hidden;
}

#gameArea {
    width: 100%;
    height: 100vh;
    position: relative;
}

#bird {
    width: 60px;
    position: absolute;
    left: 80px;
    top: 200px;
}

.pipe {
    width: 80px;
    background: green;
    position: absolute;
    right: -100px;
}

#pipeTop { height: 200px; top: 0; }
#pipeBottom { height: 200px; bottom: 0; }

.hidden { display: none; }

#homeScreen, #gameOverScreen {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}
